.navbar {
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 90%; 
  margin: 0 auto; 
  z-index: 999; 
  display: flex; 
  justify-content: center; 
}

.dropdown:hover .dropdown-menu {
  display: block;
}
